body {
  font-family: Arial, sans-serif;
  background: #f2f6fc;
  text-align: center;
  padding: 40px;
}

.title {
  font-size: 32px;
  margin-bottom: 5px;
}

.underline {
  width: 70px;
  height: 4px;
  background: #3b82f6;
  margin: 0 auto 25px;
}

.review-box {
  width: 350px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.photo {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

#name {
  margin-bottom: 3px;
}

#proffesion {
  color: #3b82f6;
  font-size: 14px;
  margin-bottom: 12px;
}

.review-text {
  font-size: 14px;
  margin-bottom: 15px;
  line-height: 1.4;
}

.btns button {
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 10px;
}
.btns button:hover{
  color: #3b82f6;
}

.random-btn {
  margin-top: 10px;
  background: #e2ebff;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}
